$primary: #7D83FF;
$secondary: #9CA0FF;
$info: #DEDFFF;
$dark: #0B2027;
$light: #F8F7FF;
$muted: #74776B;

$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 5;
$h2-font-size:                $font-size-base * 3;