@import "./abstracts/variables";
@import "./abstracts/utilities";
@import "~bootstrap/scss/bootstrap";
@import "~@fontsource/jost/scss/mixins.scss";

:root{
    --bs-body-font-family: 'Jost', 'Avenir', sans-serif;
}

.floating {
    transform: translate(0);
    animation: fl 3s infinite ease-in-out;

}

@keyframes fl {
    0%{
        transform: translateY();
    }
    50%{
        transform: translateY(5);
    }
}

.btn-secondary {
    color: $secondary;
    background-color: transparent !important;
    border-color: $secondary !important;
    border-width: 2px;

    &:hover{
        color: $primary !important;
        border-color: $primary !important;
        background-color: lighten($info, 2%) !important;
    }
}