@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/utilities";

// Enable responsiveness for the font size (eg. fs-lg-1, fs-sm-4)
$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);

// Add more options to the viewport height
$vh-add: (50: 50vh, 30: 30vh);

$utilities: map-merge(
  $utilities,
  (
    "viewport-height": map-merge(
      map-get($utilities, "viewport-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "viewport-height"), "values"),
          $vh-add,
        ),
      ),
    ),
  )
);

// Enabl responsiveness for the viewport height
$utilities: map-merge(
  $utilities, (
    "viewport-height": map-merge(
      map-get($utilities, "viewport-height"),
      ( responsive: true ),
    ),
  )
);

// Add more options to the min-viewport-height
$utilities: map-merge(
  $utilities,
  (
    "min-viewport-height": map-merge(
      map-get($utilities, "min-viewport-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "min-viewport-height"), "values"),
          (75: 75vh),
        ),
      ),
    ),
  )
);



// Add a max-width option that uses the lg and xl Breakpoint
$mw-add: (md: map-get($grid-breakpoints, "md"), lg: map-get($grid-breakpoints, "lg"), xl: map-get($grid-breakpoints, "xl"));

$utilities: map-merge(
  $utilities,
  (
    "max-width": map-merge(
      map-get($utilities, "max-width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "max-width"), "values"),
          $mw-add,
        ),
      ),
    ),
  )
);