@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

// Enabling responsiveness for the font size (eg. fs-lg-1, fs-sm-4)
$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);

// Adding more options to the viewport height
$vh-add: (50: 50vh, 30: 30vh);

$utilities: map-merge(
  $utilities,
  (
    "viewport-height": map-merge(
      map-get($utilities, "viewport-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "viewport-height"), "values"),
          $vh-add,
        ),
      ),
    ),
  )
);

// Enabling responsiveness for the viewport height
$utilities: map-merge(
  $utilities, (
    "viewport-height": map-merge(
      map-get($utilities, "viewport-height"),
      ( responsive: true ),
    ),
  )
);



// Add a max-width option that uses the xl Breakpoint
$utilities: map-merge(
  $utilities,
  (
    "max-width": map-merge(
      map-get($utilities, "max-width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "max-width"), "values"),
          (xl: map-get($grid-breakpoints, "xl")),
        ),
      ),
    ),
  )
);